# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env/
.venv/

# OS
.DS_Store
._*
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
logs/

# Data (оставляем help1c/, исключаем кэш и временное)
data/cache/
data/logs/
